git+https://github.com/openai/swarm.git
PyPDF2
faiss-cpu
langchain-community
langchain-openai
python-dotenv
duckduckgo_search
streamlit_option_menu
streamlit_extras
faiss-cpu
plotly

openpyxl

langchain_community
scipy
scikit-learn
newspaper3k==0.2.8

openai==1.55.3
langchain==0.1.20
httpx==0.27.2
streamlit==1.30.0
tiktoken==0.6.0